
/**
 * @file
 * RTL styling for Overlay child pages.
 */

html {
  direction: rtl;
}

#overlay-expand-wrapper {
  left: 0;
  right: auto;
  top: 59px;
}
#overlay-expand,
#overlay-expand:hover {
  background: transparent url(../images/expand-rtl.png) no-repeat;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
