
/**
 * @file
 * Basic styling for the Overlay child pages.
 */

#overlay-expand-wrapper {
  position: absolute;
  right: 0; /* LTR */
  top: 59px;
}
#overlay-expand,
#overlay-expand:hover {
  background: transparent url(../images/expand.png) no-repeat; /* LTR */
  -moz-border-radius-topleft: 0; /* LTR */
  -webkit-border-top-left-radius: 0; /* LTR */
  border-top-left-radius: 0; /* LTR */
  display: block;
  height: 26px;
  margin: 0;
  padding: 0;
  /* Replace with position:fixed to get a scrolling close button. */
  position: absolute;
  width: 26px;
}
